 body{
	margin: 0;
	padding: 0;
	font-size: 20px;
}
#pantalla{
	position:relative;
	top:0;
	left:0;
	display:block;
	width:1024px;
	height: 768px;
}
.infopieza {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.swiper-slide {
    background-color: #933;
}
.areaimagen {
    background-color: #ddd;
    background-color: #933;
    display: block;
    float: left;
    height: 768px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 33%;
}
.areatextos {
    float: right;
    height: 708px;
    left: 333px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    width: 680px;
}
#slide_0 .areatextos {
	color: #FFF;
}
#slide_0  {
    background-color: #933;
}
.controles{
	position: absolute;
    z-index: 1;
}
.controles.abajo{
	top:718px;
}
.controles.derecha{
	left: 975px;
}
.controles.izquierda{
	left: 10px;
}
.controles.enmedio{
	left: 300px;
}
.controles.arriba{
	top: 10px;
}
.primeraletra {
	display: block;
	float: left;
	font-size: 40px;
	left: -50px;
	position: absolute;
	top: -7px;
}
.descripcionimagen{
	position: relative;
    margin: 20px 10px;
}
#menusalas {
    background-color: #FFF;
    display: block;
    height: 768px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1024px;
    z-index: 1;
}
.margenesmenu {
    display: block;
    margin: 163px auto auto;
    width: 88%;
}
.areacontenidos {
    margin: 50px;
    position: relative;
}
.margenimagenes {
    margin: 52px 10px;
    overflow-y:scroll;
    height: 659px; 
}
.sala {
    background-color: #ddd;
    display: table-cell;
    float: left;
    height: 166px;
    margin: 10px;
    width: 203px;
}
#cerrar{
    margin-top: 28px;
}
.degradado {
    left: 0;
    position: absolute;
    top: 625px;
    z-index: 8;
    pointer-events: none;
}