html, body{
	margin: 0;
	padding: 0;
}
#pantalla{
	position:relative;
	top:0;
	left:0;
	display:block;
	width:1024px;
	height: 768px;
}
.infopieza {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.areaimagen {
    background-color: #ddd;
    display: block;
    float: left;
    height: 768px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 33%;
    overflow-y: scroll;
}
.areatextos {
    float: right;
    height: 568px;
    left: 333px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    width: 680px;
}
.controles{
	position: absolute;
    z-index: 1;
}
.controles.abajo{
	top:700px;
}
.controles.derecha{
	left: 950px;
}
.controles.izquierda{
	left: 30px;
}
.controles.enmedio{
	left: 300px;
}
.controles.arriba{
	top: 20px;
}
.primeraletra {
    display: block;
    float: left;
    font-size: 2em;
    left: -22px;
    position: absolute;
    top: -5px;
}
.descripcionimagen{
	position: relative;
}
#menusalas{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:1024px;
	height: 768px;
	background-color: #fff;
    z-index: 1;
}
.areacontenidos {
    margin: 50px;
    position: relative;
}
.margenimagenes {
    margin: 50px;
}